:root {
    --main-bg: rgb(24, 25, 29);
    --content-bg: rgb(34, 36, 40);
    --gula-grabben: rgb(240, 187, 14);
    /* --cool-gradient:  */
}

body {
    /* width: 100vw; */
    background-color: blue;
    margin: 0;
    padding: 0;
    /* width: 100vw; */
    height: 100vh;
}

.page-container {
    width: 100%;
    height: fit-content;
    min-height: 100vh;

    display: grid;
    grid-template-areas:
    'nv hd'
    'nv mn';
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content 1fr;
}

nav {
    width: 64px;
    max-height: 100%;
    background-color: var(--gula-grabben);
    padding-top: 20px;
    padding-left: 10px;
    overflow: hidden;
    transition-duration: 0.5s;
    white-space: nowrap;
    z-index: 1;
    grid-area: nv;
}

nav > header {
    /* height: 120px; */

    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;
    user-select: none;
    margin-bottom: 10px;
}

nav .button-display {
    width: auto;
    height: min-content;
    position: relative;
}

nav .button-display .button {
    width: auto;
    height: min-content;
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1.5em 0 0 1.5em;
    position: relative;
    font-size: 1.4em;
    font-weight: 400;
    user-select: none;
    cursor: pointer;

    transition-duration: 0.3s;
}

nav .button-display .button.selected {
    color: white;
}

nav .icon {
    margin-right: 30px;
    position: relative;
}

nav .button-display #button-highlight {
    width: 100%;
    height: 100px;
    background-color: var(--main-bg);
    border-radius: 1.5em 0 0 1.5em;
    position: absolute;
    top: 0;
    transition-duration: 0.3s;
}

nav .button-display #button-highlight::before {
    content: "";
    position: absolute;
    top: -2rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 1rem 1rem 0 0 var(--main-bg);
    /* background-color: transparent; */
}

nav .button-display #button-highlight::after {
    content: "";
    position: absolute;
    bottom: -2rem;
    right: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 1rem -1rem 0 0 var(--main-bg);
    background-color: transparent;
}

nav.active {
    width: 240px;
}

.page-container > header {
    height: 80px;
    grid-area: hd;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: var(--main-bg);
    color: white;

    justify-content: center;

    position: relative;

    z-index: 2;
}

.page-container > header .menu-toggle {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    font-size: 2.5rem;
    margin-left: 0.5rem;
    float: left;
    transition-duration: 0.15s;
    background-color: transparent;
    /* transform: rotate(180deg) */
}

.page-container > header > h1 {
    text-align: center;
    font-size: 40px;
}

main {
    margin: 0;
    padding: 0;
    height: 80vh;

    grid-area: mn;
    background-color: var(--main-bg);
    min-height: 100%;
    box-sizing: border-box;

    overflow: auto;

    z-index: 0;
}

main#page2, main#page3 {
    display: flex;
    flex-direction: column;
}

.card {
    height: fit-content;
    font-size: 2rem;
    border-radius: 1.5rem;
    background-color: var(--content-bg);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.8);
    user-select: none;
    padding: 0.5rem 1rem 0 1rem;
    position: relative;
    overflow: hidden;
    height: fit-content;
    color: white;
    margin: 20px;

    margin-left: auto;
    margin-right: auto;

    flex: none;
}

.card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5rem;
    background: var(--gula-grabben);
}

main#page0 .card, main#page1 .card {
    min-height: 90%;
    width: 80%;
    max-width: 800px;
}

main#page1 .card {
    padding: 40px;
}

main#page1 img {
    width: 100%;
    border-radius: 10px;
    margin: 0;
}

main#page2 .card {
    width: 90%;
    max-width: 400px;
    margin-top: 0;
}

main#page2 img {
    width: 100%;
    border-radius: 10px;
}

main#page3 .card {
    width: 90%;
    max-width: 700px;
    margin-top: 0;
    margin-bottom: 50px;

    min-height: fit-content;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--main-bg);
}

::-webkit-scrollbar-corner {
    background-color: var(--main-bg);
}

.card h2 {
    font-size: 30px;
    color: cyan;
    margin-bottom: 5px;
}

.card h2 > .date {
    font-size: 18px;
    color: gray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main p {
    font-size: 20px;
    color: white;
    margin-top: 5px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

header > .menu-toggle {
    /* background-color: green !important; */
}

@media screen and (min-width: 601px) {

    .page-container > header .menu-toggle:hover {
        /* transform: rotate(180deg) scale(1.2) */
        transform: rotate(0deg) scale(1.2);
    }
    
    .page-container > header .menu-toggle.active {
        /* transform: rotate(0deg) */
        transform: rotate(180deg);
    }
    
    .page-container > header .menu-toggle.active:hover {
        /* transform: rotate(0deg) scale(1.2) */
        transform: rotate(180deg) scale(1.2);
    }
}

@media screen and (max-width: 600px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        margin-left: 10px;
        padding: 0;
    }

    header > h1 {
        font-size: 30px !important;
    }

    .mobile > ion-icon {
        background-color: cyan;
        margin: 0;
    }

    header {
        position: absolute;
        top: 0;
        width: 100vw;

        z-index: 2;
    }

    nav {
        position: absolute;
        background-color: var(--main-bg);
        width: 100vw;
        height: 100vh;

        bottom: 100vh;
        left: 0;

        padding-left: 0;

        z-index: 1;
    }

    nav {
        transition-duration: 0.7s;
    }

    nav.active {
        /* height: 100px; */
        /* display: block !important; */
        width: 100vw;
        bottom: 0;
        /* transition-duration: 1s; */
    }

    .card {
        background-color: var(--main-bg);
        /* background-color: red; */
        box-shadow: none;
        padding-top: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .card > h2 {
        margin-top: 10px;
    }

    .card::after {
        display: none;
    }

    .page-container {
        height: 100vh !important;
        grid-template-areas:
        'hd'
        'nv'
        'mn';
        grid-template-columns: 1fr;
        grid-template-rows: min-content 0 1fr;
        /* display: flex; */
        /* flex-direction: column; */

    }

    nav > header {
        display: none;
    }

    .button-display {
        margin-top: 100px;
    }

    .button-display > #button-highlight {
        display: none;
    }

    .button-display > .button {
        color: white;
    }

    .button-display > .button.button.selected {
        color: var(--gula-grabben);
    }

    #page2 .card {
        width: 70%;
    }
}